@import '~bootstrap/scss/bootstrap';

$theme-colors: (
  'app-bg': rgb(216, 205, 203),
  'danger': teal
);

.app-bg {
  background-color: rgb(228, 238, 243);
  height: 100vh;
}
.nav-bg {
  background-color: rgb(205, 210, 210);
}
.logo {
  font-size: 1.5rem;
  margin-top: 5px;
}

.welcome {
  margin-top: -30rem;
}
.welcome-img {
  width: 20rem;
  margin-left: 3em;
  margin-top: -5em;
}
.home-img {
  display: flex;
  height: 12rem;
  // justify-self: flex-end;
  margin-left: 80%;

}

.login-container {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.wrapper {
  width: 40%;
}



