
$theme-colors: (
  'info': tomato,
  'danger': teal
  );

  @import '~bootstrap/scss/bootstrap.scss';
;
  
.app-bg {
  // background-color: rgb(228, 238, 243);
  // background-color: rgb(226, 238, 232);
  background-color: rgb(202, 222, 222);
  height: 100vh;
  // position: relative;
}

// === Navigation ===
.logo {
  font-size: 1.5rem;
  margin-top: 5px;
  color: rgb(228, 238, 243);
}
.nav-bg {
  background-color: rgb(205, 210, 210);
}
.nav-link {
  color: inherit;
  text-decoration: none;
}


// === Login and Register page ===
.welcome-title {
  margin-top: 7rem;
  padding-left: 5rem;

  @media (max-width: 575.98px) { 
    margin-top: 3rem;
  }
}
.welcome-img {
  width: 15rem;
  display: flex;
  justify-content: space-evenly;

  @media (max-width: 575.98px) { 
    width: 10rem; 
  }
}
.shopping-cart {
  width: 40px;
}
.form-width {
  width: 60%;
  margin: 0 auto;
}

// === Home page ===
.home-img {
  display: flex;
  height: 12rem;
  margin-left: 80%;
}

.title {
  font-size: 1rem;
  font-weight: bold;
}
.buttons {
  background-color:rgb(68, 122, 177);
  color: white;
  cursor: pointer;
}
.read-more {
  // background-color: rgb(250, 227, 183);
  margin-left: 6px;
  padding: 0 3px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

